body {
	background: #D8D8D8;
	font-family: monospace;
	text-align: center;
}

[data-value]::after
{
	display: inline-block;
	content: attr(data-value);
	font-family: monospace;
	max-width: 5ch;
	overflow: hidden;
}

#mountArea
{
	display: flex;
}

.synthModule
{
	border: 1px solid #AAAAAA;
	margin: 5px;
	padding: 5px;
}
