.piano
{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.whiteKey
{
	width: 30px;
	height: 150px;
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid #000;
	background: #FFF;
}

.blackKey
{
	position: relative;
	width: 15px;
	height: 80px;
	background: #000;
	margin-left: -15px;
	left: 7.5px;
	z-index: 10;
}

.pressed::after
{
	display: block;
	content: '';
	position: absolute;
	inset: 2px 2px;
	background: #F00;
	opacity: 75%;
}